
.create-notes-btn{
    padding: .5rem;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: .5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.title-input{
    padding: .7rem;
    width: 80%;
    border-radius: 8px;
    outline: none;
    border: 2px solid aqua;
}

.notes-page-main-container{
    display: flex;
    position: relative;

}

.quill-textarea{
    height: 5rem;
}

.home-input-and-btn-container:hover .color-btn-section{
    display: block;
    display: flex;
    justify-content: flex-start;
}

.sec-radio{
    margin-top: 4rem;
}

h4{
    text-decoration: underline;
}

.home-input-and-btn-container{
    border: 2px solid;
    width: 30rem;
    height: 30rem;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border: 2px solid black;
    padding: 1rem;
}

 .notes-main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.savedNotes-container{
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}


.card-text{
    text-align: left;
    margin-left: .5rem;

}
.savedNotes-second-container{
    border-radius: 10px;
    border: 2px solid;
    width:20rem;
    height: 17rem;
}

.SN-priority{
    background-color: aqua;
    width: auto;
}


.SV-icons{
    display: flex;
    justify-content: space-around;
}


.archieve-note-container{
    display: flex;
    gap: 2rem;
}

.color-btn-section{
    display: flex;
    justify-content: flex-start;
    gap: .3rem;
    display: none;
}
.red-btn{
    background-color: red;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.green-btn{
    background-color: green;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.blue-btn{
    background-color: blue;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.pink-btn{
    background-color: pink;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.yellow-btn{
    background-color: yellow;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
}

.filterbar-in-notes{
    position: absolute;
    right: 2rem;
    top: 0;
}

.trash-archive-span{
    display: none;
    font-size: .7rem;
}

#trash-archieve:hover .trash-archive-span{
    display: inherit;
}

.reverse-trash-span{
    display: none;
    font-size: .7rem;
    position: absolute;
    top: 100%;
    left: -30%;
}

#reverse-trash:hover .reverse-trash-span{
    display: inherit;
}

#reverse-trash{
    position: relative;
}

.permanent-delete-span{
    display: none;
    font-size: .7rem;
    position: absolute;
    top: 100%;
    left: -30%;
}

#trash-permanant-delete:hover .permanent-delete-span{
    display: inherit;
}


#trash-permanant-delete{
    position: relative;
}

.note-edit-span{
    display: none;
    font-size: .7rem;
    position: absolute;
    top: 100%;
}

#note-edit-text{
    position: relative;
}

#note-edit-text:hover .note-edit-span{
    display: inherit;
}

#note-trash-text{
    position: relative;
}

.note-trash-span{
    display: none;
    font-size: .7rem;
    position: absolute;
    top: 100%;
}

#note-trash-text:hover .note-trash-span{
    display: inherit;
}
